.BlockWithText__wrapper{
    width: 100%;
    height: max-content;
    border-radius: 15px;
    margin: 35px auto;
    padding: 15px;
    background-color: #fff;
}

.BlockWithText__title{
    width: max-content;
    height: max-content;
    margin-top: 15px;
    margin-left: 15px;
    color: #e89aaa;
    font-family: Lato;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    line-height: normal;
}

.BlockWithText__discription{
    margin-top: 10px;
    color: #e89aaa;
    font-family: Lato;
    font-size: 25px;
    font-style: normal;
    line-height: normal;
}

@media (max-width: 900px) {
    .BlockWithText__wrapper{
        margin: 25px auto;
        padding: 10px;
    }
    
    .BlockWithText__title{
        max-width: 100%;
        margin-top: 10px;
        margin-left: 10px;
        font-size: 20px;
        font-weight: bold;
    }
    
    .BlockWithText__discription{
        margin-top: 10px;
        color: #e89aaa;
        font-family: Lato;
        font-size: 17px;
    }
}