.Footer__wrapper{
    width: 100%;
    height: max-content;
    margin: 0 auto;
}

.Footer__title{
    width: max-content;
    height: max-content;
    margin: 35px auto;
}

.Footer__title_text{
    width: max-content;
    height: max-content;
    margin: 0 auto;
    color: #e89aaa;
    font-family: Lato;
    font-size: 35px;
    font-style: normal;
    font-weight: bolder;
    line-height: normal;
}

.Footer__block{
    width: 20%;
    height: max-content;
    margin: 15px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Footer__link{
    width: max-content;
    height: max-content;
}

.Footer__btn{
    cursor: pointer;
    width: 100%;
    height: max-content;
    padding: 15px;
    background-color: #e89aaa;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 350ms;
    &:hover{
        transition: 300ms;
        -webkit-box-shadow: 0px 0px 9px 9px rgba(232, 154, 170, 0.25);
        -moz-box-shadow: 0px 0px 9px 9px rgba(232, 154, 170, 0.25);
        box-shadow: 0px 0px 9px 9px rgba(232, 154, 170, 0.25);
    }
}

.Footer__img{
    width: 35px;
    height: 35px;
}

@media (max-width: 900px) {
    .Footer__title{
        max-width: 90%;
        margin: 15px auto;
    }
    
    .Footer__title_text{
        font-size: 15px;
    }
    
    .Footer__block{
        width: 200px;
        height: max-content;
        margin: 15px auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .Footer__btn{
        cursor: pointer;
        width: max-content;
        height: max-content;
        padding: 15px;
    }
}